<!DOCTYPE html>
<html>
<head>
<title>Compra Exitosa</title>

<style>
body{
    font-family: Arial;
    background:#f4f4f4;
    text-align:center;
}

.box{
    background:white;
    width:400px;
    margin:auto;
    margin-top:100px;
    padding:20px;
    border-radius:10px;
    box-shadow:0px 0px 10px gray;
}

button{
    background:#ff6a00;
    color:white;
    padding:10px;
    border:none;
    width:100%;
    margin-top:20px;
    cursor:pointer;
}
</style>

</head>
<body>

<div class="box">

<h2>{{ mensaje }}</h2>
<p>{{ submensaje }}</p>

<a href="/index">
    <button>Ir al inicio</button>
</a>

</div>

</body>
</html>